
body {
    background-color: dimgray;
}

#head {
    font-size:50px;
    color: darkgreen;
    padding: 20px;
    text-align: center;
}

#navbox {
    font-size: 25px;
    text-align: right;   
}

p {
    font-size: 30px;
    color: darkgreen;
}

a {
    font-size: 30px;
    color: blue;
    text-align: right;
    padding-left: 20px;
}

#aboutme {
    font-size: 40px;
    box-sizing: border-box;
    border: 2px solid black;
    width: 50%;
    height: 40%;

}


footer {
    font-size: 25px;
    text-align: center;
    color: darkgreen;
}