body {
    background-color: rgb(129, 129, 129);
}
/* Body */

#head {
    font-size:50px;
    color: darkgreen;
    padding: 20px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Header */

#navbox {
    text-align: right;   
}
/* Container for page links */

a {
    font-size: 25px;
    color: blue;
    text-align: right;
    padding-left: 20px;
}
/* page links */

p {
    color: darkgreen;
    font-size: 20px;
    text-align: left;
}

h2 {
    font-size: 30px;
    text-align: left;
    text-decoration: underline darkgreen 2px;
    
}

#about-me {
    margin: 10px;
    padding: 5px;
    height: 80%;
    width: 80%;
    border: 2px dashed blue;
}

#selfie {
    margin: 10px;
    padding: 10px;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    position: absolute;
    right: 0px;
}


#application {
    margin: 20px;
    padding: 20px;
    height: 500px;
    width: 250px;
    border: 2px solid black;
    position: absolute;
    right: 0px;
}

footer {
    font-size: 25px;
    color: darkgreen;
    position: absolute;
    bottom: 0px;
    left: 40%;
    right: 40%;
}

