
#head {
    box-sizing: border-box;
    font-size: 25px;
    border: 5px solid black;
    content: normal;
    color: darkgreen;
    display: block;
}

#navbox {
    font-size: 20px;
    color: gold;
    display:inline-block;
}

